@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0f0f0f;
    width: 100%;
    height: 3.5em;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    opacity: 90%;
}

.nav {
    display: flex;
    justify-content: left;
    list-style: none;
    margin-right: 0em;
}

.brand {
    flex: 1 1 auto;
    font-weight: bold;
    font-size: 22px;
}

.navbar a {
    margin: 15px;
    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

.banner-area {
    position: relative;
    background-image: url(images/background.jpg);
    width: 100%;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    color: white;
}

.text1 {
    background-color: #232b2b;
    padding: 20px;
    margin: 0;
    border-radius: 5%;
    opacity: 85%;
    font-family: 'Raleway', sans-serif;
}

.text2 {
    background-color: #00688B;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin: 0;
    color: white;
}
.text3 {
    background-color: #f66f6f;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin: 0;
    color: white;
}